@import "compass";
@import "grid";
@import "mixins";

$default-transition-duration : 0.25s;
$fontAwesomePath: '../lib/font-awesome/font';

// customize semantic.gs grid
$total-width: 100%;

// margin is *outside* width & height
*, *:before, *:after {
  @include box-sizing(border-box);
}

$header-height: 80px;
$touch-target-size: 44px;

$body-font: 'Quattrocento Sans', 'Century Gothic', Futura, sans-serif;
$logo-font: 'Maiden Orange', sans-serif;
$handwriting-font: 'Just Another Hand', sans-serif;

$background-color: #ded698;
$text-color: #333;
$highlight-color: #1dcaff;
$picture-background: #eeeee8;

$logo-color-1: lighten(#991B07, 20%);
// totem pole
$logo-color-2: lighten(#044022, 20%);
// zucchini
$logo-color-3: lighten(#262335, 10%);
// steel gray
$logo-color-4: lighten(#0a6f75, 20%);
// atoll
$logo-color-5: lighten(#b32d29, 20%);
// tall poppy
$logo-color-6: lighten(#b7410e, 20%);
// rust
$logo-color-7: $picture-background;

body {
  font-family: $body-font;
  padding-bottom: 20px;
  background-image: image-url('100-100-4.png');
  background-color: $background-color;
  color: $text-color;
  min-width: 320px;

  @media only screen and (min-width: 768px) {
    padding-top: $header-height;
  }
}

a {
  color: darken($highlight-color, 15%);
  @include single-transition(color);

  &:hover {
    color: $highlight-color;
  }
}

header {
  @include backface-visibility(hidden);
}

h1 {
  font-family: $logo-font;
  font-weight: normal;
  font-size: 36px;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
  }

  .char1 {
    color: $logo-color-1;
  }
  .char2, .char10 {
    color: $logo-color-2;
  }
  .char3, .char7 {
    color: $logo-color-3;
    text-shadow: -2px 2px 0 transparentize(cyan, .5), 2px -2px 0 transparentize(magenta, .5);
  }
  .char4, .char8 {
    color: $logo-color-4;
  }
  .char5 {
    color: $logo-color-5;
  }
  .char6 {
    color: $logo-color-7;
  }
  .char9 {
    color: $logo-color-6;
  }
}

section h1 {
  margin: 30px 0 20px;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;

  input[type=text], input[type=password], input[type=file] {
    font-size: 24px;
    width: 100%;
    padding: 8px;
  }
}

label.checkbox .label-text {
  position: static;
  vertical-align: middle;
}

fieldset {
  border: none;
  padding: 0;

  &.buttons {
    margin-top: 20px;
    text-align: center;

    button {
      font-family: $logo-font;
      font-size: 32px;
      line-height: 32px;
      padding: 8px 12px;
      text-transform: lowercase;

      .fontface & {
        padding-top: 12px;
      }
    }
  }
}

input[type=checkbox] {
  vertical-align: middle;
  margin-right: 5px;
}

legend {
  font-size: 20px;
  margin-bottom: 20px;
}

header {

  $background-color: #222;
  $text-color: #fff;
  $highlight-color: #ff0;

  background: $background-color;
  color: $text-color;
  padding: 0 20px;

  @include clearfix;
  @include subtle-shadow;

  @media only screen and (min-width: 768px) {
    height: $header-height;
    @include fixed-at-top;
  }

  h1 {
    font-family: $logo-font;
    font-size: 56px;
    text-transform: lowercase;
    height: $header-height;
    line-height: $header-height; // font is off the baseline
    text-align: center;

    .fontface & {
      line-height: $header-height - 4px;
      padding-top: 4px;
    }

    margin: 0;

    @media only screen and (min-width: 480px) {
      text-align: left;
      float: left;
      margin-right: 20px;
    }
    @media only screen and (min-width: 768px) {
      font-size: 72px;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    display: inline-block;

    @include single-transition(color);

    &:hover {
      color: $highlight-color;
    }
  }

  nav {
    float: left;
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      float: right;
    }

    a {
      margin-right: 20px;
    }
  }

  nav, .auth {
    button, a {
      font-size: 0;
      min-width: $touch-target-size;
      line-height: $touch-target-size;
      text-align: center;

      @media only screen and (min-width: 480px) {
        line-height: $header-height;
      }
      @media only screen and (min-width: 768px) {
        font-size: 18px;
        min-width: auto;
        text-align: left;
      }
      @media only screen and (min-width: 1024px) {
        font-size: 22px;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 22px;
        @media only screen and (min-width: 480px) {
          line-height: $header-height;
        }
      }
    }
  }

  .auth {
    float: right;

    .logged-in-message, form {
      vertical-align: middle;
    }

    .logged-in-message {
      display: none;
      line-height: $header-height;
      @media only screen and (min-width: 768px) {
        display: inline-block;
      }
    }

    form {
      display: inline-block;
      margin-left: 10px;
    }

    button, a {
      color: $text-color;
      @include single-transition(color);

      &:hover {
        color: $highlight-color;
      }
    }

    button {
      @include button-as-link;
    }
  }

}

#app {
  width: $total-width;
  margin: 40px auto 0;
}

.timeline {

  $image-size: 298px;

  @include clearfix;

  h1 {
    @include off-screen;
  }

  ul {
    padding: 12px 0 0;
    list-style: none;
    text-align: center;

    @include column(12);
  }

  li {
    width: $image-size + 2px;
    display: inline-block;
    margin: 0 ($gutter-width / 2) $gutter-width;
    text-align: left;
    @include bordered;
  }

  figure {
    position: relative;

    background: $picture-background;

    > img {
      width: $image-size;
    }

    figcaption {
      padding: 6px 0 12px;
      p {
        text-indent: 10px;
        margin: 0;
        font-size: 14px;
      }
    }

    button.delete {
      position: absolute;
      top: -12px;
      right: -12px;

      background-color: rgba(0, 0, 0, 1);
      border: 3px solid white;
      @include subtle-shadow;

      height: 50px;
      width: 50px;
      line-height: 50px;
      border-radius: 25px;
      padding: 0px;

      font-size: 32px;
      color: #fff;

      @include single-transition(background-color);

      &:hover {
        background-color: $logo-color-1;
      }
    }
  }

}

.upload {
  @include column(12);
  @include overlay-section;

  @media only screen and (min-width: 768px) {
    $form-columns: 10;
    $form-indent: ($columns - $form-columns) / 2;
    @include column($form-columns);
    @include push($form-indent);
    @include pull($form-indent);
  }

  label {
    margin-top: 10px;
    margin-bottom: 10px;

    .label-text {
      display: inline-block;
    }

    &.file {
      position: relative;

      .label-text {
        @include off-screen;
      }

      input.masked {
        opacity: 0;
        z-index: 2;
      }

      input.mask {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .thumb-container {

    $thumb-size: 100px;

    border: none;
    margin: 0 0 10px;
    padding: 0;

    text-align: center;

    legend {
      margin: 10px 0;
    }

    label {
      background-color: lighten($text-color, 50%);
      color: $background-color;

      @include radio-overlay($thumb-size + 2px, $thumb-size + 22px);
      display: inline-block;
      margin: 0 5px 10px;
      vertical-align: middle;

      @include bordered;
      padding: 5px;

      .label-text {
        background-color: #000;
        color: #fff;

        font-family: $handwriting-font;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 20px;

        position: absolute;
        bottom: 0;
        left: 0;
        width: $thumb-size;

        .fontface & {
          line-height: 15px;
          padding-top: 5px;
        }
      }
    }
  }

}

.sign-in {

  @include center-column(5);

  .oauth {
    margin: 20px 0;

    a {
      font-size: 20px;
      display: inline-block;
      text-decoration: none;
    }
  }

}

.create-account {

  @include column(5);

}

.link-account {

  @include column(5);
  @include push(1);

}

.sign-in, .create-account, .link-account {

  @include overlay-section;

  .label-text {
    @include off-screen;
  }

}

.create-account, .link-account {
  padding-top: 20px;
  legend {
    font-family: $logo-font;
    font-size: 32px;
  }
}

.divider {
  font-family: $logo-font;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}

.info {
  font-size: 24px;
  padding: 20px;
}

.errors {
  background: rgba(255, 0, 0, 0.25);
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  @include border-radius(10px);

  i {
    float: left;
    margin: 0 10px 5px 0;
    font-size: 24px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
}
