# OSX
.DS_Store

# IntelliJ
/.idea/
/out/
*.iml

# Grails output
/hipsteroid/target/

# OAuth keys
/hipsteroid/grails-app/conf/oauth-config.properties

# Compiled Coffeescript
hipsteroid/test/js/specs/*.js
hipsteroid/web-app/app/*.js
hipsteroid/web-app/app/*/*.js
hipsteroid/web-app/app/*.css
hipsteroid/web-app/app/*/*.css

# Gradle artefacts in filter
/filter/.gradle/
/filter/build/
/filter/vert.x/

# Grunt
/hipsteroid/node_modules/