@import "../lib/elements/elements";
@import "../lib/semantic-gs/grid";
@import "../lib/font-awesome/less/font-awesome";

@fontAwesomePath: '../lib/font-awesome/font';

// customize semantic.gs grid
//@total-width: 100%;

// margin is *outside* width & height
* {
  .box-sizing(border-box);
}

@header-height: 80px;

@body-font: Cabin, 'Century Gothic', Futura, sans-serif;
@logo-font: 'Maiden Orange', cursive;
@handwriting-font: 'Just Another Hand', cursive;
@script-font: Montez, cursive;

@background-color: #fff;
@text-color: #333;
@link-color: #1dcaff;

body {
  font-family: @body-font;
  padding-top: @header-height;
  background-color: @background-color;
  color: @text-color;
}

button {
  font-family: @body-font;
}

a {
  color: darken(@link-color, 15%);
  .transition;

  &:hover {
    color: @link-color;
  }
}

header {

  @background-color: #000;
  @text-color: #fff;
  @highlight-color: #ff0;

  .fixed-at-top;

  height: @header-height;
  background: @background-color;
  color: @text-color;

  padding: 0 20px;

  h1 {
    font-family: @logo-font;
    font-size: 72px;
    text-transform: lowercase;
    float: left;

    line-height: @header-height; // font is off the baseline
    .fontface & {
      line-height: @header-height - 10px;
      padding-top: 10px;
    }

    margin: 0;
  }

  a {
    color: @text-color;
    line-height: @header-height;
    text-decoration: none;

    display: inline-block;
    margin-left: 20px;

    .transition;

    &:hover {
      color: @highlight-color;
    }
  }

  nav {
    float: left;

    a {
      font-size: 22px;
    }
  }

  .auth {
    float: right;

    .logged-in-message {
      display: inline-block;
      line-height: @header-height;
    }

    form {
      display: inline-block;
    }
  }

}

#app {
  width: @total-width;
  margin: 0 auto;
}

.timeline {

  @image-size: 298px;

  ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
  }

  li {
    width: @image-size + 2;
    float: left;
    margin-right: @gutter-width * 1px;
    margin-bottom: @gutter-width * 1px;
    .bordered;
  }

  figure {
    position: relative;

    > img {
      width: @image-size;
    }

    figcaption p {
      font-family: @script-font;
      font-size: 22px;
      margin: 6px 0;
      text-indent: 10px;
    }

    button.delete {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

}

.upload {

  @form-columns: 8;

  #upload-image {
    .column(@form-columns);
    .push(@columns - @form-columns);
  }

  label {
    .row(@form-columns);
    margin-top: 10px;
    margin-bottom: 10px; //    overflow: hidden;

    .label-text {
      .column(4, @form-columns);
      display: inline-block;
    }

    input {
      .column(8, @form-columns);
    }
  }

  .thumb-container {

    @thumb-size: 100px;

    .row(@form-columns);

    border: none;
    margin: 0 0 10px;
    padding: 0;

    legend {
      .column(12, @form-columns);
      margin: 10px 0;
    }

    label {
      .column(2, @form-columns);
      .radio-overlay(@thumb-size);
      float: left;
      margin: 0 10px 0 0;
    }
  }

}

.sign-in {

  h1 {
    font-family: @script-font;
    font-size: 48px;
  }

  @form-columns: 5;
  @form-indent: (@columns - @form-columns) / 2;

  .column(@form-columns);
  .push(@form-indent);

  padding: 0 20px;

  .oauth {
    margin: 20px 0;

    a {
      font-size: 20px;
      display: inline-block;
      text-decoration: none;
    }
  }

  .divider {
    font-family: @script-font;
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
  }

  label {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;

    .label-text {
      position: absolute;
      left: -9999px;
    }

    input[type=text], input[type=password] {
      font-size: 24px;
      width: 100%;
      padding: 8px;
    }
  }

  input[type=checkbox] {
    vertical-align: middle;
    margin-right: 5px;
  }

  fieldset {
    border: none;
    padding: 0;

    &.buttons {
      margin-top: 20px;
      text-align: center;
    }
  }

  legend {
    font-size: 20px;
    margin-bottom: 20px;
  }

  button {
    font-family: @logo-font;
    font-size: 32px;
    line-height: 32px;
    padding: 8px 12px;
    text-transform: lowercase;

    .fontface & {
      padding-top: 12px;
    }
  }

}

// Mixins

.fixed-at-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.bordered(@color: #000) {
  border: 1px solid fade(@color, 20%);
  .box-shadow(0 1px 3px fade(@color, 10%));
}

// container for a hidden radio button with a clickable image label
.radio-overlay(@size) {
  position: relative;
  width: @size;
  height: @size;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  input[type=radio] {
    opacity: 0; // better than display:none as radio is still tabbable
  }

  :checked + img {
    opacity: 1;
  }

}