@import "../lib/elements/elements";
@import "../lib/semantic-gs/grid";

// customize semantic.gs grid
//@total-width: 100%;

// margin is *outside* width & height
* {
  .box-sizing(border-box);
}

@header-height: 80px;

body {
  padding-top: @header-height;
}

header {

  .fixed-at-top;

  height: @header-height;
  background: #000;
  color: #fff;

  padding: 0 20px;

  h1 {
    float: left;
    line-height: @header-height;
    margin: 0;
  }

  nav {
    float: left;

    a {
      display: inline-block;
      line-height: @header-height;
    }
  }

  .auth {
    float: right;

    .logged-in-message {
      display: inline-block;
      line-height: @header-height;
    }

    form {
      display: inline-block;
    }
  }

}

#app {
  width: @total-width;
  margin: 0 auto;
}

.timeline {

  @image-size: 300px;

  ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
  }

  li {
    width: @image-size;
    float: left;
    margin-right: @gutter-width * 1px;
    margin-bottom: @gutter-width * 1px;
  }

  figure {
    position: relative;

    > img {
      width: @image-size;
    }

    button.delete {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

}

.upload {

  @form-columns: 8;

  #upload-image {
    .column(@form-columns);
    .push(@columns - @form-columns);
  }

  label {
    .row(@form-columns);
    margin-top: 10px;
    margin-bottom: 10px;
//    overflow: hidden;

    .label-text {
      .column(4, @form-columns);
      display: inline-block;
    }

    input {
      .column(8, @form-columns);
    }
  }

  .thumb-container {

    @thumb-size: 100px;

    .row(@form-columns);

    border: none;
    margin: 0 0 10px;
    padding: 0;

    legend {
      .column(12, @form-columns);
      margin: 10px 0;
    }

    label {
      .column(2, @form-columns);
      .radio-overlay(@thumb-size);
      float: left;
      margin: 0 10px 0 0;
    }
  }

}

// Mixins

.fixed-at-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

// container for a hidden radio button with a clickable image label
.radio-overlay(@size) {
  position: relative;
  width: @size;
  height: @size;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  input[type=radio] {
    opacity: 0; // better than display:none as radio is still tabbable
  }

  :checked + img {
    opacity: 1;
  }

}