<h1 xmlns="http://www.w3.org/1999/html">About Hipsteroid</h1>
<p>This app was built by <a href="http://freeside.co/">Rob Fletcher</a> as a demo for
	<a href="http://skillsmatter.com/podcast/groovy-grails/grails-for-hipsters">'Grails for Hipsters'</a>; a talk at
	<a href="http://skillsmatter.com/event/groovy-grails/groovy-grails-exchange-2012">Groovy & Grails Exchange 2012</a>.
</p>
<p>Hipsteroid is built with these great things:</p>
<ul class="primary">
	<li><a href="http://backbonejs.org/">Backbone.js</a></li>
	<li><a href="http://grails.org/">Grails</a></li>
	<li><a href="https://vertx.io/">Vert.x</a></li>
</ul>

<ul class="major">
	<li><a href="http://coffeescript.org/">CoffeeScript</a></li>
	<li><a href="http://handlebarsjs.com/">Handlebars</a></li>
	<li><a href="http://www.imagemagick.org/">ImageMagick</a></li>
	<li><a href="http://jquery.com/">jQuery</a></li>
	<li><a href="http://lesscss.org/">LESS</a></li>
	<li><a href="http://www.mongodb.org/">MongoDB</a></li>
</ul>

<ul class="testing">
	<li><a href="http://casperjs.org/">CasperJS</a></li>
	<li><a href="http://pivotal.github.com/jasmine/">Jasmine</a></li>
	<li><a href="http://sinonjs.org/">Sinon.JS</a></li>
	<li><a href="http://spockframework.org/">Spock</a></li>
	<li><a href="https://github.com/airportyh/testem">Test'em</a></li>
</ul>

<ul class="libraries">
	<li><a href="http://im4java.sourceforge.net/">im4java</a></li>
	<li><a href="http://blueimp.github.com/jQuery-File-Upload/">jQuery File Upload</a></li>
	<li><a href="http://lesselements.com/">LESS Elements</a></li>
	<li><a href="http://letteringjs.com/">Lettering.js</a></li>
	<li><a href="http://modernizr.com/">Modernizr</a></li>
	<li><a href="http://momentjs.com/">Moment.js</a></li>
	<li><a href="http://necolas.github.com/normalize.css/">Normalize.css</a></li>
	<li><a href="http://semantic.gs/">The Semantic Grid System</a></li>
</ul>

<ul class="fonts">
	<li><a href="http://www.google.com/webfonts/specimen/Cabin">Cabin</a></li>
	<li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
	<li><a href="http://www.google.com/webfonts/specimen/Just+Another+Hand">Just Another Hand</a></li>
	<li><a href="http://www.google.com/webfonts/specimen/Maiden+Orange">Maiden Orange</a></li>
</ul>