<h2>Upload a picture</h2>
<label for="upload-image">Choose A File: </label>
<input type="file" id="upload-image" name="image" data-url="{{thumbnail}}">
<progress value="0" max="100">0%</progress>
<div class="thumb-container">
	<img class="gotham">
	<img class="toaster">
	<img class="nashville">
	<img class="lomo">
	<img class="kelvin">
</div>
